/* For Desktop */
body {
    background-image: url("loficafe.gif"); /* Set your desktop background image */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* For Mobile */
@media (max-width: 768px) {
    body {
        background-image: url("mobileview.gif"); /* Set your mobile background GIF */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}
h1
{
    color: white;
}
pre {
    color: white;
    font-size: 20px;
}
