body {
    background-image: url("loficafe.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* Title Styling */
p {
    border-radius: 5px;
    border-style: none;
    margin: 0;
    background-color: rgb(60, 98, 133);
    font-size: 30px;
    color: white;
    text-shadow: 0 0 10px, 0 0 20px, 0 0 30px, 0 0 40px;
}

/* Pomodoro Timer Button */
#baby_time {
    background-color: rgb(179, 179, 194);
    margin: 10px;
    width: 120px;
    height: 60px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

/* Login Button */
#login {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

/* Logout Button (Initially Hidden) */
#logout {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
