body
{
    background-image:url("loficafe.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
@media (max-width: 768px) {
    body {
        background-image: url('mobileview..mp4');
    }
}
pre{
    color: white;
    font-size: 20px;
}